
.sp_ee5DETUXCBc_2x{background-image:url(/rsrc.php/v3/yk/r/qlTAPYYdPAh.png);background-size:21px 84px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_ee5DETUXCBc_2x.sx_e7e1d9{background-position:0 0}.sp_ee5DETUXCBc_2x.sx_760ebc{background-position:0 -21px}.sp_ee5DETUXCBc_2x.sx_19c429{background-position:0 -42px}.sp_ee5DETUXCBc_2x.sx_1d1c5e{background-position:0 -63px}

#bootloader_m3l5x{height:42px;}.bootloader_m3l5x{display:block!important;}